@model Statistics.Interfaces.StatisticsState
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>CountCalls: @Model.CountCalls</h2>
        <h2>CountStarted: @Model.CountStarted</h2>
        <h2>CountFinished: @Model.CountFinished</h2>
    </div>
</div>
