@{
    ViewData["Title"] = "WF - Index";
}

<div class="row">
    <div class="col-md-3">
        <h1>Index</h1>
        <h2><a href="/Workflow/Name">Step 1 - Name</a></h2>
    </div>
</div>
